// stylus mixins for better cross-browser support
mask-image() {
    -webkit-mask-image: arguments;
    mask-image: arguments;
}

mask-size() {
    -webkit-mask-size: arguments;
    mask-size: arguments;
}

user-select() {
    -webkit-user-select: arguments;
    -moz-user-select: arguments;
    -ms-user-select: arguments;
    user-select: arguments;
}